[Desktop Entry]
Name= Xavier Restart
Exec=sudo bash -c "cd /home/tomo/ui_moduleinstall/share/tomo_ui/config/command/ && sudo bash ./reboot.sh"
Icon=/home/tomo/ui_moduleinstall/share/tomo_ui/config/resource/restart.png
Type=Application
Terminal=false
Encoding=UTF-8
Categories=utility;
